.products-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  max-width: 1280px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.span-make{
  color: rgb(152, 10, 131);
}